group Main
    source https://api.nuget.org/v3/index.json
    storage:none
    
    nuget FSharp.Core
    nuget Fable.Core prerelease
    nuget Fable.Elmish prerelease
    nuget Fable.Elmish.React prerelease
    nuget Fable.Elmish.Browser prerelease
    clitool dotnet-fable prerelease

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4.64.6