group Main
    source https://api.nuget.org/v3/index.json
    storage:none
    
    nuget FSharp.Core
    nuget Fable.Core ~> 3.0.0-beta-005
    nuget Fable.Elmish.React ~> 3.0.0-beta-4

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4.64.6